@font-face {
  font-family: "neodgm";
  src: url("./font/neodgm.woff") format("woff"),
    url("./font/neodgm.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  font-family: neodgm;
}
body {
  margin: 0;
  padding: 0;
  width: 100wh;
  height: 100vh;

  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./media/background/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1 {
  color: white;
  background-color: rgba(0, 0, 0, 0.371);
  text-align: center;
}

#quizContainer {
  margin: 0;
  padding: 0;
  width: 70vw;
  height: 90vh;
  background-color: #ff0000;
  color: white;
  display: flex;
  flex-direction: column;

  align-items: center;
  overflow: auto;
  position: absolute;
  z-index: -1;
}

#quizContainer button {
  border: 10px solid black;
  padding: 5vh;
  margin: 0.5vh;
  border-radius: 20px;
  background-color: #d8863d;
}

.invisible {
  display: none !important;
}

#settingContainer {
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 10px ridge black;
  border-radius: 15px;
  overflow: auto;
}

.menuBtn {
  border: 10px solid black;
  padding: 3vw;
  margin: 0.5vw;
  border-radius: 20px;
  background-color: #d8853d9a;
  font-size: 3.5vh;
}

#info-settingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#info-settingContainer > button {
  border: 5px solid gray;
  border-radius: 20px;
  background-color: rgba(245, 245, 220, 0.63);
  font-size: 3vh;
  padding: 3vw;
  margin: 0.5vw;
}
